<html>

	<head>

		<title>{% block title %}TextShare - Online live text sharing{% endblock %}</title>
		{% block head %}
		{% endblock %}

	</head>

	<body>

		<div style="width:700px;margin-left:auto;margin-right:auto;">
			<center>
				<h1><font style="color:blue;"><a href="/" style="text-decoration:none;">Text share</a></font> allow you to share your texts and notes <font style="color:blue;">live</font>.</h1>
			</center>
		</div>
		<hr />
		
		{% block content %}
		{% endblock %}

	</body>

</html>