{% extends "textshare/base.html" %}

{% block title %}TextShare - Note ID: {{note.key}}{% endblock %}

{% block content %}

<div style="width:900px;margin-left:auto;margin-right:auto;margin-top:40px;">
	<center>
		<a href="/{{note.key}}/"><p>Read-Only URL: www.textshare.com/{{note.key}}/</p></a>
		<a href="/{{note.key}}/{{note.pass_key}}/"><p>Read-Write URL: www.textshare.com/{{note.key}}/{{note.pass_key}}/</p></a>
	</center>
	
	<div style="height:350px;">
		<div id="editor" style="width:900px;height:350px;"></div>
	</div>
	
	<center>
		<form action="{% url textshare.views.update_note note.key note.pass_key%}" method="post" onsubmit="form_onsubmit();">
			{% csrf_token %}
			<input type="hidden" id="note_text" name="note_text">
			</br>
			<input type="submit" value="Save">
		</form>
	</center>
</div>

{% include "textshare/includes/write_sio.js.html" %}

{% endblock %}